# 配置 .env 中的模型调用参数
ANSWER_MODEL="moonshotai/kimi-k2"
OPENAI_API_KEY="xxxxxxx"
OPENAI_BASE_URL="https://openrouter.ai/api/v1"

JUDGE_MODEL="moonshotai/kimi-k2"
### 不配置的话复用 OPENAI_API_KEY/OPENAI_BASE_URL
# JUDGE_OPENAI_API_KEY=xxx
# JUDGE_OPENAI_BASE_URL=https://api.xx.cn/v1